<form  action="/auth/login" method="POST" novalidate>
            <div >
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email">
            </div>
            <div >
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <button class="btn" type="submit">Login</button>
            <div><a href="/auth/reset">Forget your password?</a></div>
</form>