<form  action="/auth/new-password" method="POST">  
            <div>
                <label for="password">New Password</label>
                <input type="password" name="password" id="password">
            </div>
            <input type="hidden" value='{{userId}}' name='userId'>
            <button class="btn" type="submit">Update Password</button>
        </form>